{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GTS - Panel">

    <title>{% block title %}{% endblock %}</title>

    {% include "panel/partials/_stylesheet.html" %}

    {% include "panel/partials/_favicon.html" %}

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>

    <body class="bg-gray-50 dark:bg-gray-800">
        
        {% include "panel/partials/_navbar.html" %}

        <div class="flex mt-[65px] overflow-hidden bg-gray-50 dark:bg-gray-900">

            {% include "panel/partials/_sidebar.html" %}
            
            <div id="main-content" class="relative w-full h-screen overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
            <main>
                {% block content %}{% endblock %}
            </main>
            
            {% include "panel/partials/_footer.html" %}

            </div>
        
        </div>

        
        
        {% include "panel/partials/_scripts.html" %}
        {{ redirect_to_login_immediately }}

    </body>

</html>