{% extends "account/partials/_authbase.html" %}

{% load static %}

{% block title %} GTS - Sign Up {% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        
        {% comment %} <img src="{% static 'account/img/logo_dark.png' %}" class="mr-4 h-11 dark:block hidden" alt="MAU GTS">
        <img src="{% static 'account/img/logo_light.png' %}" class="mr-4 h-11 dark:hidden block" alt="MAU GTS">
        <span>|  GTS</span> {% endcomment %}
        <span>Graduate Thesis System</span>
    </a>
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Create an account for GTS panel.
        </h2>
        <form method="POST" class="mt-8 space-y-6" action="#" autocomplete="off">
            
            {% csrf_token %}

            <div class="flex flex-col sm:flex-row justify-between">
                <div class="mb-2 sm:mb-0">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name:</label>
                    {{ form.name }}
                </div>
                <div>
                    <label for="surname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name:</label>
                    {{ form.surname }}
                </div>
            </div>
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
                {{ form.password1 }}
                <div data-popover id="popover-password" role="tooltip" class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                    <div class="p-3 space-y-2">
                        <h3 class="font-semibold text-gray-900 dark:text-white">These are required:</h3>
                        <div class="grid grid-cols-4 gap-2">
                            {% comment %} <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                            <div class="h-1 bg-orange-300 dark:bg-orange-400"></div>
                            <div class="h-1 bg-gray-200 dark:bg-gray-600"></div>
                            <div class="h-1 bg-gray-200 dark:bg-gray-600"></div> {% endcomment %}
                        </div>
                        <ul>
                            <li class="flex items-center mb-1">
                            {% comment %} <svg class="w-4 h-4 mr-2 text-green-400 dark:text-green-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg> {% endcomment %}
                                Minimum 8 characters.
                            </li>
                            <li class="flex items-center mb-1">
                                {% comment %} <svg class="w-4 h-4 mr-2 text-green-400 dark:text-green-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg> {% endcomment %}
                                Should not include other profile information.
                            </li>
                            <li class="flex items-center mb-1">
                                {% comment %} <svg class="w-4 h-4 mr-2 text-green-400 dark:text-green-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg> {% endcomment %}
                                Should not be basic / general password.
                            </li>
                            <li class="flex items-center">
                                {% comment %} <svg class="w-4 h-4 mr-2 text-gray-300 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> {% endcomment %}
                                Should not be only numeric.
                            </li>
                        </ul>
                    </div>
                    <div data-popper-arrow></div>
                </div>
            </div>
            <div>
                <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password Again:</label>
                {{ form.password2 }}
            </div>

            {% if form.non_field_errors %}
            <div>
                <ul class="text-red-700 dark:text-red-600 text-sm">
                    {% for error in form.non_field_errors %}
                        <li class="mb-1">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if form.first_name.errors %}
            <div>
                <ul class="text-red-700 dark:text-red-600 text-sm">
                    {% for error in form.first_name.errors %}
                        <li class="mb-1">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if form.last_name.errors %}
            <div>
                <ul class="text-red-700 dark:text-red-600 text-sm">
                    {% for error in form.last_name.errors %}
                        <li class="mb-1">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if form.username.errors %}
            <div>
                <ul class="text-red-700 dark:text-red-600 text-sm">
                    {% for error in form.username.errors %}
                        <li class="mb-1">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if form.password1.errors %}
            <div>
                <ul class="text-red-700 dark:text-red-600 text-sm">
                    {% for error in form.password1.errors %}
                        <li class="mb-1">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if form.password2.errors %}
            <div>
                <ul class="text-red-700 dark:text-red-600 text-sm">
                    {% for error in form.password2.errors %}
                        <li class="mb-1">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            

            {% comment %} 
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="remember" aria-describedby="remember" name="remember" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600" required>
                </div>
                
                 <div class="ml-3 text-sm">
                    <label for="remember" class="font-medium text-gray-900 dark:text-white">I accept the <a href="" class="text-primary-700 hover:underline dark:text-primary-500">Terms and Conditions</a></label>
                </div> 
            </div>
            {% endcomment %}

            <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white !bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create Account</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
                You already have an account? <a href="{% url 'account:login' %}" class="text-primary-700 hover:underline dark:text-primary-500">Login.</a>
            </div> 
        </form>
    </div>
    
</div>

<script>

</script>

{% endblock content %}